.App {
  min-width: 100vh;
  min-height: 100vh;
  max-width: 100vh;
}

.bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -100;
  -webkit-filter: blur(15px);
  filter: blur(15px);
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
}

/* .crystall{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -99;
  opacity: .5;  
} */

.container {
  display: -webkit-flex;
  display: flex;
}

.grid-container{
  display: grid;
  @media only screen and (min-width : 320px) and (max-width : 480px)  {
    grid-template-columns: 90% 10%;
    grid-template-areas: "textForm button";
    justify-items: start;
    }
  @media (min-width: 800px) {
    grid-template-columns: 1fr 1fr 0px;
    grid-template-areas: "textForm button";
    justify-items: center;
      }


}