a {
  color: SteelBlue;
}

.input-form{
  justify-content: center;
  flex-basis: auto;
}

.input-form__text-form {
  padding: 10px;
  width: auto;
}
.input-form__text-form:after {
  content: "";
  clear: both;
  display: table;
}
.input-form__text-form input {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  margin-right: -33px;
  border-radius: 42px;
  border: 1px solid rgb(185, 185, 185);
  background: rgba(248, 248, 248, 0.534);
  outline: none;
  position: relative;
  transition: 0.3s linear;
}
.input-form__text-form input:focus {
  width: 50vh;
}
.input-form__text-form button {
  width: 2.5em;
  height: 2.5em;
  background: none;
  border: none;
  position: relative;
  top: 7px;
  right: 0;
  left: -10px;
}
.input-form__text-form button:before {
  color: #324b4e;
}
