.link{
    justify-content: center;
}
a.link__element{
    margin: 5px;
    padding: 10px;
    background: #f5f5f5bd;
    height: 100px;
    width: 40%;
    border-radius: 20px;
    color: rgb(112, 112, 112);
}

.link__album-art{
    height: 80px;
}

.link__artist-track{
    flex-direction: column;
    flex-grow: 3;
    padding: 5px;

}

.link__artist-name{
    font-size: 2em;
}

.link__service-name{
    flex-shrink: 10;
    text-align: end;
    width: 30px;
    height: 30px;
}