.button {
    position: absolute;
    right: 10px;
    left: 100px ;
    color: #bdbdbd;
}
.button.Mui-focused {
      display: none !important;
      height: 200px;
     }

.menuIcon{
    @media only screen and (min-width : 320px) and (max-width : 480px) {
    height: 80px;
    width: 80px;
    }
    height: 80px;
    width: 80px;
}